@charset "utf-8";
/* 공통 */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0;
    padding-left: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.label {
    font: 0 auto;
}
/* 홍보관 */
.modal-title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    width: 100vw;
    text-align: center;
}
.modal-header {
    align-items: center;
    padding: 14px 15px;
}
.modal-header .close {
    padding: 15px 20px 15px 0;
    float: right;
    width: 51px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.modal-body {
    min-height: 550px;
    padding: 30px 66px;
}
.modal-content {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 25%);
    border-radius: 20px;
    border: 0;
}
.modal-body .h6-title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
}
.modal-body .h6-title.type1 {
    font-weight: 400;
    color: #666;
}
.text-small {
    font-weight: 400;
    font-size: 10px;
    color: #666666;
}
.modal-footer {
    justify-content: center;
    border: 0;
    padding-bottom: 30px;
    padding-top: 10px;
}
.btn {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    padding: 11px 0;
    margin: 0 5px;
    min-width: 162px;
}
.btn.big {
    min-width: 335px;
}
.btn-primary {
    color: #fff;
    background-color: #8265F6;
    border-color: #8265F6;
}
.btn-primary:hover {
    color: #fff;
    background-color: #8265F6;
    border-color: #8265F6;
}
.btn-outline-secondary {
    color: #333333;
    border-color: #bbb;
    background: #fff;
}
.btn-outline-secondary:hover {
    color: #333333;
    border-color: #bbb;
    background: #fff;
}
.btn.btn-sm {
    min-width: 63px;
    height: 20px;
    line-height: 0;
    font-weight: 500;
    font-size: 10px;
    color: #000;
    background-color: #fff;
    margin: 0;
}
.btn.focus,.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,0)
}
.box-gray {
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #F2F3F8;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #CDCFD9;
}
.box-gray.type1 {
    padding: 37px 0;
}
.box-gray .scrolltype {
    position: relative;
    height: 186px;
    overflow-y: scroll;
}
.box-gray .txt {
    font-size: 14px;
}
.box-gray a.fileselect {
 text-decoration: underline;
 text-underline-position: under;
 color: #CDCFD9; 
}
/* 이미지형 홍보물설정 이미지선택 */
.thumblist li {
    display: inline-block;
    padding-bottom: 10px;
}
.checkbox-label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
  
.checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-image {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    border: 0;
    background: url("../../resources/images/icon/icon-check.png") no-repeat center center;
}

.checkbox-input:checked + .checkbox-image {
    background-image: url("../../resources/images/icon/icon-checked-arrow.png");
}

.checkbox-input:checked + .checkbox-image + img {
    border: 1px solid #8265F6;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}
.checkbox-label img {
    width: 85px;
    height: 85px;
}
.btn-wrap.position-absolute.box-right {
    right: 20px;
    bottom: 10px;
}

.linkaddresswrite {
    position: relative;
    border:0;
    border-bottom: 1px solid rgba(238, 238, 238, 0.6);
    font-weight: 400;
    font-size: 13px;
    color: #555555;
    padding-bottom: 15px;
}
.linkaddresswrite::placeholder {
    color: rgba(0, 0, 0, 0.15);
}
.linkaddressdelete {
    position: absolute;
    right: 0;
    bottom: 10px;
}
.videoplayicon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
}
/* 마이룸 */
.modal.rightbottom {
    top: calc(100% - 158px);
    left: initial;
    right: -50%;
    margin-right: 230px;
}
.modal.fade .modal-dialog.modal-sm {
    -webkit-transform: translate(0,100px);
    transform: translate(0,100px);
}
.modal.show .modal-dialog.modal-sm {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal.rightbottom .modal-dialog.modal-sm .modal-content {
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.modal-dialog.modal-sm .modal-body {
    min-height: 80px;
    padding: 0 25px 30px;
}
.myroom-iconpop {
    display: flex;
    justify-content: space-around;
}
.myroom-iconpop li {
    display: inline-block;
    min-width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
}
.myroom-iconpop .txt {
    display: block;
    font-weight: 500;
    font-size: 11px;
    color: #333333;
    padding-top: 8px;
}
.round-30 {
    overflow: hidden;
    border-radius: 30px;
}
.modal-body.myroom-charactersettype {
    padding: 30px 40px 30px 20px;
}
.myroom-charactersettype .divide {

}
.myroom-charactersettype .divide .left {
    max-width: 51.5%;
}
.myroom-charactersettype .divide .right {
    max-width: 48.5%;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs,
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link {
    border: 0;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs {
    display: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link {
    padding: 10px 15px;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-item {
    display: inline-block;
    min-width: 40px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg {
    overflow: hidden;
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 3px;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg {
    background: linear-gradient(180deg, #824DF3 9.9%, #5D43C7 100%);
}
/* off image */
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img1 {
    background: url("../../resources/images/icon/icon-myroomitem-01-off.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img2 {
    background: url("../../resources/images/icon/icon-myroomitem-02-off.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img3 {
    background: url("../../resources/images/icon/icon-myroomitem-03-off.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img4 {
    background: url("../../resources/images/icon/icon-myroomitem-04-off.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img5 {
    background: url("../../resources/images/icon/icon-myroomitem-05-off.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img6 {
    background: url("../../resources/images/icon/icon-myroomitem-06-off.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .iconbg.img7 {
    background: url("../../resources/images/icon/icon-myroomitem-07-off.png") center center no-repeat;
}
/* on image */
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img1 {
    background: url("../../resources/images/icon/icon-myroomitem-01-on.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img2 {
    background: url("../../resources/images/icon/icon-myroomitem-02-on.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img3 {
    background: url("../../resources/images/icon/icon-myroomitem-03-on.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img4 {
    background: url("../../resources/images/icon/icon-myroomitem-04-on.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img5 {
    background: url("../../resources/images/icon/icon-myroomitem-05-on.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img6 {
    background: url("../../resources/images/icon/icon-myroomitem-06-on.svg") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link.active .iconbg.img7 {
    background: url("../../resources/images/icon/icon-myroomitem-07-on.png") center center no-repeat;
}
.myroom-charactersettype .myroomtabmenu .nav-tabs .nav-link .txt {
    display: block;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #333333;
    padding-top: 2px;
}
.myroom-itemboxs {
    min-height: calc(100vh - 349px);
    height: 560px;
    background: #F2F3F8;
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.myroom-itemboxs li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}
.myroom-itemboxs li.active {
    background: #FFFFFF;
    border: 2px solid #8265F6;
    border-radius: 10px;
}
.myroom-itemboxs li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}
.modal-body.myroom-selectcampustype {
    min-height: auto;
    padding: 20px;
}
.myroom-selectcampustype .wrap-btn-selectcampus li {
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 12px;
}
.myroom-selectcampustype .wrap-btn-selectcampus li:first-child,
.myroom-selectcampustype .wrap-btn-selectcampus li:nth-child(3n +1){
    margin-left: 0;
}
.btn-selectcampus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    height: 73px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
}
.btn-selectcampus.active {
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(180deg, #824DF3 9.9%, #5D43C7 100%);
    border-radius: 5px;
}
.popup-alert .modal-dialog.modal-sm {
    max-width:335px;
}
.popup-alert .modal-dialog.modal-sm .modal-content {
    overflow: hidden;
}
.popup-alert .modal-dialog.modal-sm .modal-body {
    padding: 30px 15px;
    text-align: center;
}
.popup-alert .modal-dialog.modal-sm .modal-body .alert-title {
    font-weight: 700;
    font-size: 17px;
    color: #222222;
    padding-bottom: 10px;
}
.popup-alert .modal-dialog.modal-sm .modal-body .desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    color: #555555;
}
.popup-alert .modal-dialog.modal-sm .modal-footer {
    padding: 0;
}
.popup-alert .modal-dialog.modal-sm .modal-footer>* {
    margin: 0;
}
.popup-alert .modal-dialog.modal-sm .modal-footer ul {
    display: inline-flex;
    width: 100%;
}
.popup-alert .modal-dialog.modal-sm .modal-footer ul li {
    width: 50%;
}
.popup-alert .modal-dialog.modal-sm .modal-footer ul li button {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background: #E5E5E5;
    font-weight: 400;
    font-size: 15px;
}
.popup-alert .modal-dialog.modal-sm .modal-footer ul li button.btn-primary {
    background: #8265F6;
    color: #FFFFFF;
}
.popup-alert .modal-dialog.modal-sm .modal-footer ul li button.btn-secondary {
    background: #E5E5E5;
    color: #333333;
    box-shadow: none;
}
/* 서비스 이용 안내 */
/* PC_가로_계정연결 5 */
a.link-fulldoc {
    position: absolute;
    top: 0;
    margin-left: 125px;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    text-underline-position: under;
    color: #667085;
}
.modal-body.serviceguide {
    min-height: 550px;
    padding: 30px 50px;
}
.serviceguide {

}
.serviceguide .accdian-wrap {

}
.serviceguide .accdian-wrap .acc-item {

}
.serviceguide .accdian-wrap .acc-item .acc-tit {

}
.serviceguide .accdian-wrap .acc-item .acc-cont {

}
.serviceguide .accdian-wrap .acc-item .acc-tit .checkbox-label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
  
.serviceguide .accdian-wrap .acc-item .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.serviceguide .accdian-wrap .checkbox-image {
    position: absolute;
    top: 3px;
    right: auto;
    left: -21px;
    width: 15px;
    height: 15px;
    border: 0;
    background: url("../../resources/images/icon/icon-checkimg.png") no-repeat center center;
}

.checkbox-input:checked + .checkbox-image {
    background-image: url("../../resources/images/icon/icon-checked-arrow.png");
}
.serviceguide .accdian-wrap {
    position:relative;
    width: 335px;
}
.serviceguide .accdian-wrap .acc-item .acc-tit {
    display: block;
    position: relative;
    padding: 12px 10px 12px 31px;
    font-weight: 600;
    font-size: 15px;
    color: #2B2F44;
    background: #F9FAFF;
    border-radius: 8px;
}
.serviceguide .accdian-wrap .acc-item .acc-tit:after {
	content: "";
	width: 10px;
	height: 6px;
	background: url("../../resources/images/icon/arrow_up.png");
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotate(180deg);
	transition: all 0.2s ease;
	position: absolute;
	top: 20px;
	right: 20px;
}
.serviceguide .accdian-wrap .acc-item .acc-cont {
    display:none; 
    position:relative; 
    padding: 0 15px;
    margin-top: 3px;
    background: #F9FAFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #2B2F44;
}
.serviceguide .accdian-wrap .acc-item.active .acc-tit:after {
    top: 20px;
    transform: rotate(0deg);
    transition: all 0.2s ease;
    background: url("../../resources/images/icon/arrow_up.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    z-index: 9999;
}
.serviceguide .accdian-wrap .acc-item .acc-cont .tit {
    display: inline-flex;
    width: 100%;
    padding: 0 5px 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F2F2F2;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: #222222;
    opacity: 0.8;
}
.serviceguide .accdian-wrap .acc-item .acc-cont .chkitem {
    padding: 12px 15px;
}
.serviceguide .accdian-wrap .acc-item .acc-cont .chkitem .viewlink {
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
}
.serviceguide .link-loginmethodbox-wrap {
    position:relative;
    margin-left: 10px;
    opacity: .4;
}
.serviceguide .link-loginmethodbox-wrap.active {
    opacity: 1;
}
.serviceguide .link-loginmethodbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    gap: 79px;
    isolation: isolate;
    border: 1px solid #E6E8F1;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    color: #0F182A;
    margin-bottom: 8px;
    text-align: center;
}
.serviceguide .link-loginmethodbox img {
    position: absolute;
    left: 24px;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 790px;
    }
}
@media (min-width: 576px){
    .modal-lg, .modal-xl {
        max-width: 790px;
    }
}
